
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Menu</h3>
@Html.ActionLink("New Member", "actionname", null, new { @class = "List-group-item List-group-item-action" })
@Html.ActionLink("View Members", "actionname", null, new { @class = "List-group-item List-group-item-action" })
@Html.ActionLink("Add Users", "actionname", null, new { @class = "List-group-item List-group-item-action" })
@Html.ActionLink("Manage Drugstock", "actionname", null, new { @class = "List-group-item List-group-item-action" })
