
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Menu</h3>
@Html.ActionLink("ViewPharmacyStock", "actionname", null, new { @class = "list-group-item list-group-item-action" })
@Html.ActionLink("AddPharmacyStock", "actionname", null, new { @class = "list-group-item list-group-item-action" })
@Html.ActionLink("ViewReports", "actionname", null, new { @class = "list-group-item list-group-item-action" })

