@{
    ViewBag.Title = "About Us";
}
<link rel="stylesheet"href="~/Content/Site.css" >
<div class="card" >
    <div class="card-header text-center"><h2>@ViewBag.Title.</h2></div>


    <div class="card-body" style=" ">
       
            <p>@ViewBag.Message</p>

        </div>
    </div>
