@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="card p-3 m-3 mr-5 ml-5" style="background-color:rgba(0,0,0,0.6);height:80vh">
        <div class=" text-center">  
            <img src="~/Images/Logo.jpg" style="border-radius:50%" height="50"/>
            <h1>@ViewBag.Title..</h1>
        </div>
        <p >@ViewBag.Message</p>
</div>
