@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container">
    
    <center>
        <div>  <h1>@ViewBag.Title..</h1></div>
        <div class="img">
        </div>
        <p >@ViewBag.Message</p>
    </center>
        
</div>
