@{
    ViewBag.Title = "Contact";
}
<h3 class="pt-2">Contact Your Admin</h3>

<address>
    Admin<br />
    Health Center<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@demo.com" class="page-link">admin@demo.com</a><br />
</address>