@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}
<div class="card m-3 ml-5 mr-5 p-3" style="background-color:rgba(0,0,0,0.6);height:100%" >
    <h2 class="pt-3">Contact Us</h2>
    <address>
       
            <img src="~/Images/contact.png" class="float-right" style="margin-right:400px" width="400" />
            <br />
            <span style="font-family: 'Righteous', cursive;">CLINIC RELIEF</span><br />
            Health Center<br />
            <abbr title="Phone">P :</abbr>
            425 555 0100<br />
            Address: <br />Ramniranjan Jhunjhunwala College, <br />
            Opposite Ghatkopar Railway Station,<br /> Ghatkopar West, Mumbai 400086,<br />Maharasthra, INDIA.
            <br />

    </address>

    <address>
        
        <strong>Support:</strong> <br />  <a href="mailto:admin@demo.com" style="color:white">admin@demo.com</a><br />
    </address>


</div>