@{
    ViewBag.Title = "Contact";
}
<div>
    <h3 class="pt-3">Contact Us</h3>
    <address class="m-3">
       
            <img src="~/Images/contact.png" class="float-right" style="margin-right:400px" width="400" />
            <br />
        
            Admin<br />
            Health Center<br />
            <abbr title="Phone">P:</abbr>
            425 555 0100<br />
            Address: <br />Ramniranjan Jhunjhunwala College, <br />
            Opposite Ghatkopar Railway Station,<br /> Ghatkopar West, Mumbai 400086,<br />Maharasthra, INDIA.
            <br />

    </address>

    <address>
        
        <strong>Support:</strong>   <a href="mailto:admin@demo.com" class="page-link">admin@demo.com</a><br />
    </address>


</div>