
@{
    ViewBag.Title = "Reception";
}

<h2>Reception</h2>

<h3>Menu</h3>
@Html.ActionLink("NewPatient", "actionname", null, new { @class = "list-group-item list-group-item-action" })
@Html.ActionLink("ViewPatient", "actionname", null, new { @class = "list-group-item list-group-item-action" })
@Html.ActionLink("NewTest/Services", "actionname", null, new { @class = "list-group-item list-group-item-action" })
@Html.ActionLink("BillMedicine", "actionname", null, new { @class = "list-group-item list-group-item-action" })


