
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group sticky-top sticky-offset">
            @{ string Role = Session["Role"].ToString();}
            @if (Role == "Admin")
            {
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MAIN MENU</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                <a href="/Admin/" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-users fa-fw mr-3"></span>
                        <span class="menu-collapsed">View Members</span>
                    </div>
                </a>
                <a href="/Admin/AddMember" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user-plus fa-fw mr-3"></span>
                        <span class="menu-collapsed">New Member</span>
                    </div>
                </a>
                <a href="/Admin/NewUser" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user-md fa-fw mr-3"></span>
                        <span class="menu-collapsed">Add User </span>
                    </div>
                </a>
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-building fa-fw mr-3"></span>
                        <span class="menu-collapsed">Stock House</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu content -->
                <div id="submenu1" class="collapse sidebar-submenu">
                    <a href="/Admin/ViewStock" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">View Stock</span>
                    </a>
                    <a href="/Admin/AddStock" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Add Stock</span>
                    </a>
                </div>
                <a href="/Admin/ViewReport" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-file-text fa-fw mr-3"></span>
                        <span class="menu-collapsed">View Reports </span>
                    </div>
                </a>

            }
            else if (Role == "Manager")
            {
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MAIN MENU</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                <a href="/Pharmacy" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-medkit fa-fw mr-3"></span>
                        <span class="menu-collapsed">View Stock</span>
                    </div>
                </a>
                <a href="/Pharmacy/AddStock" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-plus-square fa-fw mr-3"></span>
                        <span class="menu-collapsed">Add Stock</span>
                    </div>
                </a>
                <a href="/Pharmacy/ViewReport" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-file-text fa-fw mr-3"></span>
                        <span class="menu-collapsed">View Reports </span>
                    </div>
                </a>
            }
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>Account</small>
            </li>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="menu-collapsed">Profile</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id="submenu2" class="collapse sidebar-submenu">
                <a href="/Home/Settings" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Settings</span>
                </a>
                <a href="/Home/ChangePassword" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Password</span>
                </a>
            </div>
        </ul>
        <!-- List Group END-->
    </div>
    <!-- sidebar-container END -->
    