<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="navbar-brand" href="#"><img src="~/Images/Logo.jpg" height="40" width="40" style="border-radius:50%;border-color:white;border-style:solid" /> CLINIC RELIEF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
            @if (Session["UserId"] != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi @Session["Name"]<i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/@Session["Role"]/ChangePassword">ChangePassword</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/Logout">Logout <i class="fa fa-sign-out"></i></a>
                    </div>
                </li>
                if (Session["Role"].ToString() == "Admin")
                {
                    <!-- This menu is hidden in bigger devices with d-sm-none.
                    The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
                    <li class="nav-item dropdown d-sm-block d-md-none">
                        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Tasks</a>
                            <a class="dropdown-item" href="#">Etc ...</a>
                        </div>
                    </li>
 <!-- Smaller devices menu END -->
                }
            }
        </ul>
    </div>
</nav>
